@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #C1121F;
  --text-dark: #333333;
  --text-light: #767268;
  --white: #ffffff;
  --max-width: 1200px;
  --header-font: "Bebas Neue", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  position: fixed;
  isolation: isolate;
  width: 100%;
  z-index: 9;
}

.nav__header {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
}

.nav__logo a {
  font-size: 1.75rem;
  font-weight: 400;
  font-family: var(--header-font);
  color: var(--white);
}

.nav__menu__btn {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
}

.header__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 8rem 1rem 2rem;
  padding-bottom: 0rem;
  display: grid;
  gap: 2rem;
  overflow-x: hidden;
  z-index: 1;
  height: 140vh;
}

.header__content h1 {
  margin-bottom: 1rem;
  font-size: 5rem;
  font-weight: 400;
  font-family: var(--header-font);
  color: var(--text-dark);
  line-height: 5.5rem;
  text-align: center;
}

.header__content h2 {
  font-size: 2rem;
  font-weight: 400;
  font-family: var(--header-font);
  color: var(--text-dark);
  line-height: 2.5rem;
  text-align: center;
}

.header__content h1 span {
  color: var(--primary-color);
}

.header__content p {
  margin-bottom: 2rem;
  line-height: 1.7rem;
  text-align: center;
}
.rudy-container{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
}
.rudy-img {
  position: static;
  height: auto;
  width: 40%;
  
}

@media screen and (max-width: 485px) {
  .header__container {
    height: 160vh;
    position: static;
  }
  .rudy-img {
    bottom: -60vh;
  }
}

@media screen and (max-width: 385px) {
  .header__container {
    height: 185vh;
    position: static;
  }
  .rudy-img {
    bottom: -85vh;
  }
}

@media screen and (min-width: 768px) {
  nav {
    position: relative;
    padding: 2rem 0;
    max-width: var(--max-width);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  .nav__header {
    background-color: transparent;
  }

  .nav__logo a {
    color: var(--text-dark);
  }

  .nav__logo a span {
    color: var(--primary-color);
  }

  .nav__menu__btn {
    display: none;
  }

  .header__container {
    padding-block: 2rem;
    padding-bottom: 0rem;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    height: auto;
  }

  .header__content :is(h1, h2, p) {
    text-align: left;
  }

  .rudy-img {
    bottom: 0;
    right: 0;
    position: absolute;
  }
}

@media screen and (min-width: 1024px) {
  .header__content form {
    flex-direction: row;
  }

  .header__content button {
    width: fit-content;
  }
}
